

services:
  web:
    build: .
    ports:
      - "8081:80"        # Access app at http://localhost:8080
    volumes:
      - .:/var/www/html  # Mount your project folder into container
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: newsdb
      MYSQL_USER: newsuser
      MYSQL_PASSWORD: newpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
